@import '~bootstrap/scss/bootstrap';
.main-logo{
  width:60px;
  height:60px;
}
.logo-title{
  font-size:30px;
}
.img-cover{
  object-fit:cover;
  height:500px;
}

.top-row{
  display:flex;
  justify-content:center;
  align-items:center;
}
.top-left-but{
  margin-right:30px;
  margin-top:30px
}
.top-right-but{
  margin-top:30px;
}
.nav-header{
  margin-bottom:20px;
  border-bottom: thin black solid;
}

.card-view {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.notice {
  background-color: yellow;
  color: #white;
  text-align: center;
}

.alert {
  background-color: red;
  color: #white;
  text-align: center;
}
.post-title{
  margin-top:30px;
}
.show-article{
  border:yellow solid;
  padding-left:20px;
  padding-right:20px;
}
.genre-table{
  margin-top:30px;
}